<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ys.samples.webapi-20161002045452.mdf;Initial Catalog=aspnet-ys.samples.webapi-20161002045452;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="infrastructure-db" connectionString="data source=|DataDirectory|ys.samples.infra.sqlite3" providerName="System.Data.SQLite.EF6" />
    <add name="devunion-db" connectionString="data source=|DataDirectory|ys.samples.devunion.sqlite3" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
</configuration>
